<div id="<%= dom_id booking %>">
  <p>
    <strong>User:</strong>
    <%= booking.user_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= booking.event_id %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= booking.total %>
  </p>

  <p>
    <strong>Tickets:</strong>
    <%= booking.tickets %>
  </p>

</div>
