<div id="<%= dom_id event %>">
  <p>
    <strong>Event name:</strong>
    <%= event.event_name %>
  </p>

  <p>
    <strong>Event date:</strong>
    <%= event.event_date %>
  </p>

  <p>
    <strong>Event location:</strong>
    <%= event.event_location %>
  </p>

  <p>
    <strong>Event description:</strong>
    <%= event.event_description %>
  </p>

  <p>
    <strong>Poster url:</strong>
    <%= event.poster_url %>
  </p>

  <p>
    <strong>Event price:</strong>
    <%= event.event_price %>
  </p>

  <p>
    <strong>Total tickets:</strong>
    <%= event.total_tickets %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= event.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= event.end_time %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= event.contact %>
  </p>

  <p>
    <strong>Age restriction:</strong>
    <%= event.age_restriction %>
  </p>

  <p>
    <strong>Ticket info:</strong>
    <%= event.ticket_info %>
  </p>

  <p>
    <strong>Lineup:</strong>
    <%= event.lineup %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= event.category %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= event.likes %>
  </p>

</div>
